* {
	margin: 0;
	padding: 0;
}
.grid-container {
	display: grid;
	grid-template-columns: 280px 5fr;
}

.sidebar {
	background-color: #1992d4;
	height: 100vh;
	display: grid;
	grid-template-rows: 100px 300px 300px;
}
.logo {
	padding-left: 10px;
	display: grid;
	grid-template-columns: 0.5fr 3fr;
	align-items: center;
	gap: 10px;
}
.nav-container {
	padding-left: 20px;
	margin-top: 20px;
	align-items: center;
	display: grid;
	grid-template-columns: 0.5fr 3fr;
	grid-template-rows: repeat(6, 50px);
}

.misc-container {
	padding-left: 20px;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 0.5fr 3fr;
	grid-template-rows: repeat(3, 50px);
	align-items: center;
}
.nav-links {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	color: white;
	text-decoration: none;
}
.nav-links:hover {
	color: #186f9e;
}
.logo-text {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 30px;
	text-decoration: none;
	color: white;
}
.btn-blue {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 500;
	border-radius: 20px;
	background-color: #1992d4;
	color: white;
	padding: 15px 30px;
	border: none;
}
.header-container {
	display: grid;
	grid-template-rows: 100px 100px;
}
.top-area {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
}
.bottom-area {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.top-area,
.bottom-area {
	align-items: center;
	padding-left: 100px;
}
.search {
	border-radius: 20px;
	padding: 10px 10px;
	width: 800px;
	border: none;
	background-color: #e2e8f0;
	color: black;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 500;
}
.top-search-area {
	display: grid;
	grid-template-columns: 30px auto;
	gap: 10px;
	align-items: center;
}
.top-profile-area {
	display: grid;
	grid-template-columns: 30px 60px 200px;
	align-items: center;
	justify-self: center;
	gap: 20px;
}
.profile-img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.profile-img-large {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}
.name {
	color: black;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 600;
}
.intro-text {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
.username-text {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 25px;
}
.bottom-user-area {
	display: grid;
	grid-template-columns: 90px auto;
	align-items: center;
}
.bottom-btn-area {
	justify-self: center;
}
