* {
	margin: 0;
	padding: 0;
}
.grid-container {
	display: grid;
	grid-template-columns: 280px 5fr;
}

.sidebar {
	background-color: #1992d4;
	height: 100vh;
	grid-row-end: span 3;
	display: grid;
	grid-template-rows: 100px 300px 300px;
}
.logo {
	padding-left: 10px;
	display: grid;
	grid-template-columns: 0.5fr 3fr;
	align-items: center;
	gap: 10px;
}
.nav-container {
	padding-left: 20px;
	margin-top: 20px;
	align-items: center;
	display: grid;
	grid-template-columns: 0.5fr 3fr;
	grid-template-rows: repeat(6, 50px);
}

.misc-container {
	padding-left: 20px;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 0.5fr 3fr;
	grid-template-rows: repeat(3, 50px);
	align-items: center;
}
.nav-links {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	color: white;
	text-decoration: none;
}
.nav-links:hover {
	color: #186f9e;
}
.logo-text {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 30px;
	text-decoration: none;
	color: white;
}
.btn-blue {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 500;
	border-radius: 20px;
	background-color: #1992d4;
	color: white;
	padding: 15px 30px;
	border: none;
}
.btn-blue:hover {
	background-color: #157cb3;
}
.header-container {
	display: grid;
	grid-template-rows: 100px 100px;
	height: 22vh;
}
.top-area {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
}
.bottom-area {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.top-area,
.bottom-area {
	align-items: center;
	margin-left: 100px;
}
.search {
	border-radius: 20px;
	padding: 10px 10px;
	width: 800px;
	border: none;
	background-color: #e2e8f0;
	color: black;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 500;
}
.top-search-area {
	display: grid;
	grid-template-columns: 30px auto;
	gap: 10px;
	align-items: center;
}
.top-profile-area {
	display: grid;
	grid-template-columns: 30px 60px 200px;
	align-items: center;
	justify-self: center;
	gap: 20px;
}
.profile-img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.profile-img-large {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}
.name {
	color: black;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 600;
}
.intro-text {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
.username-text {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 25px;
}
.bottom-user-area {
	display: grid;
	grid-template-columns: 90px auto;
	align-items: center;
	gap: 10px;
}
.bottom-btn-area {
	display: grid;
	grid-auto-flow: column;
	gap: 20px;
	justify-self: center;
}
.main-content {
	padding-left: 30px;
	background-color: #e2e8f0;
	height: 78vh;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.content-title {
	font-size: 25px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	padding-bottom: 10px;
}
.top {
	margin-top: 20px;
}
.project-area {
	grid-row-end: span 3;
}
.card {
	background-color: #ffffff;
	border-radius: 10px;
	width: 360px;
	height: 160px;
	padding: 20px 20px;
	border-left: 10px solid #f0b429;
}
.project-title {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	padding-bottom: 5px;
}
.project-details {
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
.project-grid {
	display: grid;
	gap: 20px;
	grid-template-columns: 450px 400px;
	grid-template-rows: repeat(3, 200px);
}
.icons {
	padding-top: 20px;
	display: grid;
	justify-content: end;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 50px);
}
.star:hover {
	color: rgb(250, 198, 67);
}

.eye:hover {
	color: rgb(156, 80, 255);
}
.share:hover {
	color: rgb(65, 212, 78);
}
